$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-control-geosearch {
  position: absolute;
  top: 70px;
  left: 10px;
}